NODE_ENV=development
LOG_LEVEL=info

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_ACCESS_TOKEN=
TWITCH_REFRESH_TOKEN=
TWITCH_TOKEN_EXPIRES_IN=0
TWITCH_TOKEN_FILE=data/twitch-token.json
COOLDOWN_CONFIG_FILE=config/cooldowns.json
CUSTOM_COMMANDS_CONFIG_FILE=config/custom-commands.json
TWITCH_CHANNELS=tu_canal_twitch
TWITCH_COMMAND_PREFIX=!

DISCORD_TOKEN=
DISCORD_CLIENT_ID=

HUE_BRIDGE_IP=192.168.1.10
HUE_APP_KEY=
HUE_LIGHT_IDS=
HUE_GROUPED_LIGHT_IDS=
HUE_DEFAULT_BRIGHTNESS=80
HUE_ALLOW_SELF_SIGNED=true
